<div class="form-wrapper">
  <h1>编辑任务</h1>

  <% url = @sprint.blank?? project_task_path(@project, @task): project_sprint_task_path(@project, @sprint, @task) %>
  <%= form_for(@task, :url => url + '?edit=f') do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, '名称' %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :user_id, '指派给' %><br />
      <%= f.collection_select(:user_id, @developers, :id, :name, { :include_blank => true }) %>
    </div>
    <div class="field">
      <%= f.label :sprint_id, '迭代' %><br />
      <%= f.collection_select(:sprint_id, @sprints, :id, :name, { :include_blank => true }) %>
    </div>
    <div class="field">
      <%= f.label :workload, '工作量'%><br />
      <%= f.text_field :workload %>
    </div>
    <div class="field">
      <%= f.label :description, '描述' %><br />
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <br />
</div>
