<h1>项目<%= @project.name %> 任务列表</h1>

<%= form_for(:task, :url => project_tasks_path(@project)) do |f| %>
  <table cellpadding="5" cellspacing="0">
    <tr>
      <% if @is_master %>
        <th></th>
      <% end %>
      <th>名称</th>
      <th>创建时间</th>
      <th>指派给</th>
      <th>工作量</th>
      <th>剩余量</th>
      <th>进度</th>
      <th>所属迭代</th>
      <th>操作</th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <% if @is_master %>
          <td><%= check_box_tag "tasks[]",task.id %></td>
        <% end %>
        <td><%= task.name %></td>
        <td><%= task.created_at.strftime('%Y-%m-%d %H:%m:%S') %></td>
        <td><%= task.user.name unless task.user.blank? %></td>
        <td><%= task.workload %></td>
        <td><%= task.surplus_workload %></td>
        <td><%= "#{task.progress.blank?? 0:task.progress}%" %></td>
        <td><%= task.sprint.name unless task.sprint.blank? %></td>
        <td>
          <%= link_to '详情', project_task_path(@project, task) %>
          <%= link_to '编辑', edit_project_task_path(@project, task) + '?edit=f' %>
          <%= link_to '删除', project_task_path(@project, task), :confirm => 'Are you sure?', :method => :delete %>
          <% if !@is_master %>
            <%= link_for_update_progress(task) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <br />
  <input type="hidden" name="prj_task_list" value="1" />
  <%= will_paginate @tasks, :previous_label => '上一页', :next_label => '下一页'%>
  <% if @is_master %>
    指定迭代:<%= f.collection_select(:sprint_id, @sprints, :id, :name, { :include_blank => true }) %><%= f.submit '指定'%>
  <% end %>
<% end %>
<br />
<%= link_to '创建任务', new_project_task_path(@project) %>
