<div class="form-wrapper">
  <p id="notice"><%= notice %></p>

  <p>
    <b>任务名:</b>
    <%= @task.name %>
  </p>

  <p>
    <b>指派给:</b>
    <% user = @task.user %><%= user.blank?? "" : user.name %>
  </p>

  <p>
    <b>工作量:</b>
    <%= @task.workload %>
  </p>

  <p>
    <b>剩余量:</b>
    <%= @task.surplus_workload %>
  </p>

  <p>
    <b>进度:</b>
    <%= "#{@task.progress}%" %>
  </p>

  <p>
    <b>描述:</b>
    <%= @task.description %>
  </p>
  <%= link_to('编辑', (@sprint.blank?? edit_project_task_path(@project): edit_project_sprint_task_path(@project, @sprint)) + '?edit=f')%>
</div>