<div class="form-wrapper">
  <h1>登记工时</h1>

  <% url = @sprint.blank?? project_task_path(@project, @task):project_sprint_task_path(@project, @sprint, @task) %>
  <%= form_for(@task, :url => url) do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, '任务名：' %>
      <%= @task.name %>
    </div>
    <div class="field">
      <%= f.label :user_id, '指派给：' %>
      <%= @task.user.name unless @task.user.blank? %>
    </div>
    <div class="field">
      <%= f.label :workload, '工作量：'%>
      <%= @task.workload %>小时
    </div>
    <div class="field">
      <%= f.label :surplus_workload, '剩余工作量' %><br />
      <%= f.text_field :surplus_workload %>
    </div>
    <div class="field">
      <%= f.label :progress, '进度'%><br />
      <select name="task[progress]">
        <option value=""></option>
        <%  11.times do |n| %>
          <option value="<%= n*10 %>" <%= 'selected' if n*10==@task.progress %>><%= "#{n*10}%"%> </option>
        <%  end %>
      </select>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <br />

  <% url = @sprint.blank?? project_tasks_path(@project) : project_sprint_tasks_path(@project, @sprint) %>
</div>

