<%= form_for([@project, @project_role]) do |f| %>
  <% if @project_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_role.errors.count, "error") %> prohibited this project_role from being saved:</h2>

      <ul>
        <% @project_role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :项目角色 %><br />
    <%= f.text_field :role_name %>
  </div>
  <div class="field">
    <%= f.label :角色描述 %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
