<%= include_jquery %>
<%= include_jqueryui %>
<%= include_jquerytools %>
<%= include_jqueryrails %>
<%= include_jqueryhighcharts %>

<h1>迭代<%= @sprint.name %>的燃尽图</h1>
<%#= highchart("my_id", @data) %>
<% highchart("my_id", @data) do |c| %>
  <%=raw "options.tooltip.formatter = function() { return '<b>'+ this.series.name +'</b><br/>'+ this.x +'<b>:</b> '+ this.y}" %>
<%end %>