<h1><%= t("headers.lists.users") %></h1>

<table cellpadding="5" cellspacing='0'>
  <tr>
    <th><%= t("labels.login") %></th>
    <th><%= t("labels.name") %></th>
    <th><%= t("labels.role") %></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%=h user.login %></td>
      <td><%=h user.name %></td>
      <td><%=h role_description user%></td>
      <td>
        <%= link_to t("links.edit"), edit_user_path(user) %>
        <%= link_to t("links.delete"), user, :confirm => t("notices.delete"), :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<div id="bottom-buttons">
  <%= sexybutton(t("buttons.new"), new_user_path) do |b|
    b.image = "add"
  end %>
</div>
