<h1>系统用户列表</h1>

<table cellpadding="5" cellspacing='0'>
  <tr>
    <th>登录名称</th>
    <th>用户姓名</th>
    <th>用户角色</th>
    <th>操作</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%=h user.login %></td>
      <td><%=h user.name %></td>
      <td><%=h role_description user%></td>
      <td><%= link_to '详情', user %>
        <%= link_to '编辑', edit_user_path(user) %>
        <%= link_to '删除', user, :confirm => '确定删除该用户?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to '创建用户', new_user_path %>