<div class="form-wrapper">
  <p>
    <label><%= t("labels.login") %></label>
    <%= @user.login %>
  </p>

  <p>
    <label><%= t("labels.name") %></label>
    <%= @user.name %>
  </p>

  <p>
    <label><%= t("labels.role") %></label>
    <%=h role_description @user %>
  </p>
</div>
