<h1>项目<%= @project.name %>的迭代列表</h1>

<table cellpadding="5" cellspacing="0">
  <tr >
    <th><%=  t("titles.name") %></th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>操作</th>
  </tr>

  <% for sprint in @sprints %>
    <tr>
      <td><%=h sprint.name %></td>
      <td><%=h sprint.start_time %></td>
      <td><%=h sprint.end_time %></td>
      <td>
        <%= link_to '详情', project_sprint_path(@project, sprint) %>
        <%= link_to '编辑', edit_project_sprint_path(@project, sprint) %>
        <%= link_to '删除', project_sprint_path(@project, sprint), :confirm => '确定删除？', :method => :delete %>
        <%= link_to '任务列表', project_sprint_tasks_path(@project,sprint) %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to '创建新迭代', new_project_sprint_path(@project) %>
