<%= content_for :js_on_document_ready do %>
  $('.toggle').click(function() {
    if($(this).hasClass("hidden")) {
      $(this).removeClass("hidden");
      $(this).addClass("show");
    } else {
      $(this).removeClass("show");
      $(this).addClass("hidden");
    }
    $(this).parent('h1').next(".toggle-box").toggle("slow");
  });
<% end %>

<%= content_for :menus do
  menus(current_user, :project_plannings, "/projects/#{@project.id}")
end %>

<div id="releases">
  <% @project.releases.unreleased.each do |release| %>
    <%= render :partial => 'release', :locals => { :release => release } %>
  <% end %>
</div>

<div id="bottom-buttons">
  <% if current_user.product_owners? %>
    <%= sexybutton(t("buttons.new_release"), new_project_release_path(@project)) do |b|
      b.image = 'add'
    end %>
  <% end %>
</div>

<div id="released-releases">
  <% @project.releases.released.each do |release| %>
    <h1><%= t("headers.lists.released_releases") %></h1>
    <%= render :partial => 'release', :locals => { :release => release } %>
  <% end %>
</div>
