<% unless @projects.empty? %>
  <div id="projects">
    <% @projects.each do |project| %>
      <div id="project-<%= project.id %>" class="panel">
        <h1>
          <%= link_to project.name, on_air_project_sprints_path(project) %>
          <% if permitted_to? :manage, project %>
            <span class="actions">
              <%= link_to t("links.edit"), edit_project_path(project) %> | 
              <%= link_to t("links.delete"), project, :confirm => t("notices.delete"), :method => :delete %>
            </span>
          <% end %>
        </h1>
        <p>
          <%= project.description %>
        </p>
      </div>
    <% end %>
    <%= will_paginate @projects %>
  </div>
<% end %>

<%= no_record_found(@projects.empty?) %>

<div id="bottom-buttons">
  <% if permitted_to? :create, :projects %>
    <%= sexybutton(t("buttons.new"), new_project_path) do |b|
      b.image = 'add'
    end %>
  <% end %>
</div>
