<% unless @projects.empty? %>
  <% @projects.each do |project| %>
    <div id="project-<%= project.id %>">
      <h1><%= link_to project.name, project_backlogs_path(project) %></h1>
      <% if permitted_to? :manage, project %>
        <div id="project-mgt-<%= project.id %>">
          <%= link_to t("links.edit"), edit_project_path(project) %> | 
          <%= link_to t("links.delete"), project, :confirm => t("notices.delete"), :method => :delete %>
        </div>
      <% end %>
      <p>
        <%= project.description %>
      </p>
    </div>
    <%= will_paginate @projects %>
  <% end %>
<% else %>
  <div id="no-record-found">
    <%= t("notices.no_record_found") %>
  </div>
<% end %>

<div id="bottom-buttons">
<% if permitted_to? :create, :projects %>
  <%= sexybutton(t("buttons.new"), new_project_path) do |b|
    b.image = 'add'
  end %>
<% end %>
</div>
