<h1>项目列表</h1>

<table cellpadding="5" cellspacing='0'>
  <tr>
    <th>项目名称</th>
    <th>操作</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td>
        <span>
          <%= link_to '详细', project %>
          <%= link_to '编辑', edit_project_path(project) %>
          <%= link_to '删除', project, :confirm => "是否确认删除？\n该操作将删除所有相关联的数据,包括:\n1.待办事项\n2.产品角色\n3.迭代", :method => :delete %>
        </span>
      </td>
    </tr>
  <% end %>
</table>

<br />
<%= will_paginate @projects, :previous_label => '上一页', :next_label => '下一页'%>

<%= link_to '新建项目', new_project_path %>
