<h1>迭代待办事项列表</h1>
<script type="text/javascript">
  function bash(e) {
    if(!(e.value == null || e.value == "")) {
      e.nextSibling.disabled = false;
    }
  }

  function doRemoteOp(e) {
    var backlogId = e.name
    var sprintId = e.previousSibling.value;
    $.ajax({
      url: '<%= project_sprints_url(@project) %>',
      type: 'post',
      data: {backlog_id:backlogId, sprint_id:sprintId, project_id:'<%= @project.id %>', sp:1},
      success: function() {
        e.disabled = true;
      },
      error: function() {
        alert('添加关联失败！');
      }
    });
  }
</script>

<table>
  <tr>
    <th>描述</th>
    <th>验收条件</th>
    <th>故事点</th>
    <th>操作</th>
  </tr>

<% @backlogs.each do |backlog| %>
  <tr>
    <td><%= desc(backlog) %></td>
    <td><%= backlog.inspection %></td>
    <td><%= backlog.story_points %></td>
    <% @sprint = backlog.sprint %>
    <td><%= select("sprint", "id", @sprints.map {|p| [ p.name, p.id ] }, { :include_blank => true}, {:onchange => "bash(this);"}) %><input type='button' name='<%= backlog.id %>' value='apply' onclick="doRemoteOp(this);" disabled /></td>
  </tr>
<% end %>
</table>
